@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.article-post {
  padding: .75em 1em;
}
.article-post-sub {
  padding: .85em 1.25em;
}
.bold {
  font-weight: bold;
}
.angle-braces {
  font-weight: bold; /* Make the angle braces bold */
  color: #007bff; /* Set the color of the angle braces */
}
.whiteBackground {
  background-color: white;
}
.greyBackground {
  background-color: lightgray;
}
.step {
  font-size: 18px; /* Initial font size */
  margin-bottom: 10px; /* Add some space between steps */
}

.step:nth-child(2) {
  font-size: 16px; /* Decrease font size for the second step */
}

.step:nth-child(3) {
  font-size: 14px; /* Decrease font size for the third step */
}

p {
  margin-bottom: 14px; /* Add margin at the bottom of each <p> element */
}
.quote-container {
  position: relative;
  padding-left: 20px; /* Adjust the padding as needed */
}
.quote-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px; /* Width of the vertical line */
  height: 100%;
  background-color: #333; /* Color of the vertical line */
}
.quote {
  font-style: italic;
  margin-top: 0; /* Remove default margin */
}
.italics {
  font-style: italic;
}